.mx-auto{
    margin: auto;
}

.flex{
   display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.equalt8{
    background-color: #fb7c14;
}

.operator{
    color: #6dee0a;
}